<main class="main mb-3">
  <div class="container gutter-top">
    <div class="row sticky-parent">
      <aside class="col-12 col-md-12 col-xl-3">
        <div class="sidebar box shadow pb-0 sticky-column">
          <svg class="avatar avatar--180" viewBox="0 0 188 188">
            <g class="avatar__box">
              <image xlink:href="https://i.imgur.com/KB0NSMP.jpg" height="100%" width="100%" />
            </g>
          </svg>
          <div class="text-center">
            <h3 class="title title--h3 sidebar__user-name">Shimol<span class="weight--500"> Khan</span></h3>
            <div class="badge badge--light">Ruby on Rails Developer</div>
							<div class="social">
								<a class="social__link" href="https://www.facebook.com/kiiilllerbot/" target="_blank"><i class="fab fa-facebook-f"></i></a>
								<a class="social__link" href="https://www.instagram.com/kiiilllerbot/" target="_blank"><i class="fab fa-instagram"></i></a>
								<a class="social__link" href="https://twitter.com/kiiilllerbot" target="_blank"><i class="fab fa-twitter"></i></a>
								<a class="social__link" href="https://www.linkedin.com/in/kiiilllerbot/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
								<a class="social__link" href="https://github.com/kiiilllerbot" target="_blank"><i class="fab fa-github"></i></a>
							</div>
          </div>
						<div class="sidebar__info box-inner box-inner--rounded">
							<ul class="contacts-block">
								<li class="contacts-block__item" data-toggle="tooltip" data-placement="top" title="Birthday">
									<i class="fas fa-birthday-cake mr-3"></i>October 26, 1994
								</li>
								<li class="contacts-block__item" data-toggle="tooltip" data-placement="top" title="Address">
									<i class="fas fa-map-marker-alt mr-3"></i>Kuala Lumpur, Malaysia
								</li>
								<li class="contacts-block__item" data-toggle="tooltip" data-placement="top" title="E-mail">
									<a href="mailto:example@mail.com"><i class="fas fa-envelope mr-3"></i>dev.shimolkhan@gmail.com</a>
								</li>
								<li class="contacts-block__item" data-toggle="tooltip" data-placement="top" title="Phone">
									<i class="fas fa-mobile mr-3"></i>+60 (17) 4216716
								</li>
							</ul>

							<%= link_to "/shimol-khan-resume-v5.pdf", :class=>"btn", target: "_blank" do %>
								<i class="far fa-arrow-alt-circle-down mr-1"></i> Download Resume
							<% end %>

							<div class="d-flex mt-3 justify-content-center">
								<% if user_signed_in? %>
									<div class="mr-2">
										<%= link_to "Logout", destroy_user_session_path, method: :delete, :class=>"link" %>
									</div>
								<% end %>
							</div>
						</div>
        </div>
      </aside>

      <div class="col-12 col-md-12 col-xl-9">
        <div class="box shadow pb-0">
          <div class="circle-menu">
            <div class="hamburger">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
          <div class="inner-menu js-menu js-tabs">
            <ul class="nav">
              <li class="nav__item"><a class="active" href="#about-tab">About</a></li>
              <li class="nav__item"><a href="#resume-tab">Resume</a></li>
              <li class="nav__item"><a href="#portfolio-tab">Portfolio</a></li>
              <li class="nav__item"><a href="#blog-tab">Articles</a></li>
              <li class="nav__item"><%= link_to "Contact", new_contact_path %></li>
            </ul>
          </div>

          <div class="content">
            <div id="about-tab" class="tabcontent active">
              <div class="pb-0 pb-sm-2">
									<h1 class="title title--h1 first-title title__separate">About Me</h1>
									<p class="text-justify">I'm a junior software developer who specializes in building (and occasionally designing) exceptional digital experiences.I'm working on building accessible, human-centered products. My SWE degree offers a strong foundation in software engineering and programming principles across multiple platforms. Experienced in object-oriented-programming; developing, testing and debugging code; designing interfaces; and administering systems and networks. Quickly learn and master new technologies; successful working in both team and self-directed settings. Currently practicing devOps besides back-end development.</p>
								</div>

              <!-- What -->
              <div class="box-inner pb-0">
                <h2 class="title title--h3">What I'm Doing</h2>
                <div class="row">
                  <!-- Case Item -->
                  <div class="col-12 col-lg-6">
                    <div class="case-item box box__second">
                      <%= image_tag('PAlLCzU.png', :class=>"case-item__icon") %>
                      <div>
                        <h3 class="title title--h5">UI/UX Design</h3>
                        <p class="case-item__caption">Low / High Fidelity Wireframing, Prototype Development.</p>
                      </div>
                    </div>
                  </div>

                  <!-- Case Item -->
                  <div class="col-12 col-lg-6">
                    <div class="case-item box box__second">
                      <%= image_tag('ImUcXuF.png', :class=>"case-item__icon") %>
                      <div>
                        <h3 class="title title--h5">Front-End Development</h3>
                        <p class="case-item__caption">Optimzed, HCI factored Front End Design from Wireframe and Prototypes.</p>
                      </div>
                    </div>
                  </div>

                  <!-- Case Item -->
                  <div class="col-12 col-lg-6">
                    <div class="case-item box box__second">
                      <%= image_tag('VZFM3oR.png', :class=>"case-item__icon") %>
                      <div>
                        <h3 class="title title--h5">Back-End Development</h3>
                        <p class="case-item__caption">Write code for server-side web application and produce scalable applications.</p>
                      </div>
                    </div>
                  </div>

                  <!-- Case Item -->
                  <div class="col-12 col-lg-6">
                    <div class="case-item box box__second">
                      <%= image_tag('TLUDrUk.png', :class=>"case-item__icon") %>
                      <div>
                        <h3 class="title title--h5">Web Automation</h3>
                        <p class="case-item__caption">Automate predefined web tasks using most popular automation tools.</p>
                      </div>
                    </div>
                  </div>

                  <!-- Case Item -->
                  <div class="col-12 col-lg-6">
                    <div class="case-item box box__second">
                      <%= image_tag('p1f7D58.png', :class=>"case-item__icon") %>
                      <div>
                        <h3 class="title title--h5">Database Administration</h3>
                        <p class="case-item__caption">Administering various relational databases and NoSQL databases.</p>
                      </div>
                    </div>
                  </div>

                  <!-- Case Item -->
                  <div class="col-12 col-lg-6">
                    <div class="case-item box box__second">
                      <%= image_tag('scOUJRJ.png', :class=>"case-item__icon")%>
                      <div>
                        <h3 class="title title--h5">Software Testing</h3>
                        <p class="case-item__caption">Write test cases and mostly perform TDD for critical systems.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Testimonials -->
              <div class="box-inner box-inner--white">
                <h2 class="title title--h3">Testimonials</h2>
                <div class="swiper-container js-carousel-review">
                  <div class="swiper-wrapper">
											<!-- Item review -->
											<div class="swiper-slide review-item">
												<svg class="avatar avatar--80" viewBox="0 0 84 84">
													<g class="avatar__hexagon">
														<image xlink:href="https://i.imgur.com/5f9il3h.png" height="100%" width="100%" />
													</g>
												</svg>
												<h4 class="title title--h5">Jessica</h4>
												<p class="review-item__caption">Shimol was hired to create a corporate identity. We were very
													pleased with the work done.</p>
											</div>

											<!-- Item review -->
											<div class="swiper-slide review-item">
												<svg class="avatar avatar--80" viewBox="0 0 84 84">
													<g class="avatar__hexagon">
														<image xlink:href="https://i.imgur.com/crzJMIU.png" height="100%" width="100%" />
													</g>
												</svg>
												<h4 class="title title--h5">Kavita</h4>
												<p class="review-item__caption">Thanks to the skill of Shimol, we have a design that we can be
													proud of.</p>
											</div>

											<!-- Item review -->
											<div class="swiper-slide review-item">
												<svg class="avatar avatar--80" viewBox="0 0 84 84">
													<g class="avatar__hexagon">
														<image xlink:href="https://i.imgur.com/zXqvlt0.png" height="100%" width="100%" />
													</g>
												</svg>
												<h4 class="title title--h5">Zain</h4>
												<p class="review-item__caption">Shimol is a outstanding professional, he understands exactly same like I as client.</p>
											</div>

											<!-- Item review -->
											<div class="swiper-slide review-item">
												<svg class="avatar avatar--80" viewBox="0 0 84 84">
													<g class="avatar__hexagon">
														<image xlink:href="https://i.imgur.com/KvaX2iN.png" height="100%" width="100%" />
													</g>
												</svg>
												<h4 class="title title--h5">Ridzwan</h4>
												<p class="review-item__caption">Shimol understands the UX very well, I always hire him for my projects.</p>
											</div>
                  </div>

                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>

							<!-- RESUME -->
							<div id="resume-tab" class="tabcontent">
								<div class="pb-3">
									<h1 class="title title--h1 first-title title__separate">Resume</h1>
								</div>

								<!-- Experience -->
								<div class="pb-0">
									<div class="row">
										<div class="col-12 col-lg-6">
											<h2 class="title title--h3"><img class="title-icon" src="https://i.imgur.com/H3lAw2B.png"
													alt="" /> Education</h2>
											<div class="timeline">
												<!-- Item -->
												<article class="timeline__item">
													<h5 class="title title--h5 timeline__title">Universiti Pendidikan Sultan Idris (UPSI)</h5>
													<span class="timeline__period">2017 — 2022 (B.Sc. Software Eng. - CGPA 3.50)</span>
													<p class="timeline__description">Universiti Pendidikan Sultan Idris; commonly abbreviated as UPSI, is a prestigious public university in the town of Tanjung Malim, Perak in Malaysia.</p>
												</article>

												<!-- Item -->
												<article class="timeline__item">
													<h5 class="title title--h5 timeline__title">Pabna Textile Engineering Institute (PTEI)</h5>
													<span class="timeline__period">2011 — 2015 (Dip. Fashion & Textile Eng. - CGPA 3.38)</span>
													<p class="timeline__description">Pabna Textile Engineering Institute is a prestigious Engineering institute located at the city of Pabna. It is famous for offering professional Fashion and Textile Diplomas as well as Garments Technology.</p>
												</article>

												<!-- Item -->
												<article class="timeline__item">
													<h5 class="title title--h5 timeline__title">Aishara High School (AHS)</h5>
													<span class="timeline__period">2005 — 2010 (Science - GPA 4.38)</span>
													<p class="timeline__description">Aishara High School is a well-reputed Higher Secondary Education Institute located at the Heart City of Tangail, Dhaka. This institute is monitored by the Board of Secondary and Higher education Dhaka.</p>
												</article>
											</div>
										</div>

										<div class="col-12 col-lg-6">
											<h2 class="title title--h3"><img class="title-icon" src="https://i.imgur.com/n8OZ4Bw.png"
													alt="" /> Experience</h2>
											<div class="timeline">
												<!-- Item -->
												<article class="timeline__item">
													<h5 class="title title--h5 timeline__title">Ruby on Rails Developer</h5>
													<span class="timeline__period">Teleme Technologies Sdn Bhd</span><br>
													<span class="timeline__period">2021 (December) — Present</span>
													<p class="timeline__description">Working as a junior Ruby On Rails Developer at Teleme Technologies Sdn Bhd. Responsible for developing and maintaing an enterprise level web application (Online consulting) which supports thousands of Doctors, pharmacists & patients.</p>
												</article>

												<!-- Item -->
												<article class="timeline__item">
													<h5 class="title title--h5 timeline__title">Application Developer</h5>
													<span class="timeline__period">SSB Global Tours & Travels</span><br>
													<span class="timeline__period">2020 — 2021</span>
													<p class="timeline__description">Worked as an Application Developer at SSB Global Tours & Travels. Responsible for developing and maintaing their system.</p>
												</article>

												<!-- Item -->
												<article class="timeline__item">
													<h5 class="title title--h5 timeline__title">Database Administrator (DBA)</h5>
													<span class="timeline__period">IRIS Corporate Solutions Sdn. Bhd</span><br>
													<span class="timeline__period">2015 — 2016</span>
													<p class="timeline__description">Worked at IRIS Corporate Solutions Sdn. Bhd. Malaysia. Responsibled to collect biometric information and sends to the central server along with Information gathering, storing, and historical data.</p>
												</article>
											</div>
										</div>
									</div>
								</div>

								<!-- Skills -->
								<div class="box-inner box-inner--rounded">
								<h3 class="py-3">Applied Skills</h3>
									<div class="row">
										<!-------------------- New ------------------>
										<div class="col-12 col-lg-12">
											<p class="">General-Purpose Programming Languages</p>
												<div class="box box__second">
													<!-- Progress -->
													<div class="progress">
														<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
															aria-valuemax="100">
															<div class="progress-text"><span><i class="fas fa-copyright mr-1"></i>C & C++</span><span>60%</span></div>
														</div>
														<div class="progress-text"><span>C</span></div>
													</div>

													<!-- Progress -->
													<div class="progress">
														<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
															aria-valuemax="100">
															<div class="progress-text"><span><i class="fab fa-java mr-1"></i>JAVA</span><span>60%</span></div>
														</div>
														<div class="progress-text"><span></span></div>
													</div>

													<!-- Progress -->
													<div class="progress">
														<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
															aria-valuemax="100">
															<div class="progress-text"><span><i class="fab fa-js-square mr-1"></i>JAVASCRIPT (ES6+)</span><span>75%</span></div>
														</div>
														<div class="progress-text"><span></span></div>
													</div>

													<!-- Progress -->
													<div class="progress">
														<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
															aria-valuemax="100">
															<div class="progress-text"><span><i class="far fa-gem mr-1"></i>RUBY</span><span>85%</span></div>
														</div>
														<div class="progress-text"><span></span></div>
													</div>

													<!-- Progress -->
													<div class="progress">
														<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
															aria-valuemax="100">
															<div class="progress-text"><span><i class="fab fa-python mr-1"></i>PYTHON</span><span>80%</span></div>
														</div>
														<div class="progress-text"><span></span></div>
													</div>

													<!-- Progress -->
													<div class="progress">
														<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
															aria-valuemax="100">
															<div class="progress-text"><span><i class="fab fa-php mr-1"></i>PHP</span><span>65%</span></div>
														</div>
														<div class="progress-text"><span></span></div>
													</div>

													<!-- Progress -->
													<div class="progress">
														<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
															aria-valuemax="100">
															<div class="progress-text"><span><i class="fas fa-terminal mr-1"></i>SHELL SCRIPTING</span><span>60%</span></div>
														</div>
														<div class="progress-text"><span></span></div>
													</div>
												</div>
											</div>
										<!-------------------/ New ------------------>

										<div class="col-12 col-lg-12 mt-4">
										<p class="">Frameworks / Libraries</p>
											<div class="box box__second">
												<!-- Progress -->
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
														aria-valuemax="100">
														<div class="progress-text"><span><i class="fas fa-code mr-1"></i>BOOTSTRAP</span><span>90%</span></div>
													</div>
													<div class="progress-text"><span>BOOTSTRAP</span></div>
												</div>

												<!-- Progress -->
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
														aria-valuemax="100">
														<div class="progress-text"><span><i class="fas fa-code mr-1"></i>TAILWINDCSS</span><span>75%</span></div>
													</div>
													<div class="progress-text"><span>TAILWINDCSS</span></div>
												</div>

												<!-- Progress -->
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
														aria-valuemax="100">
														<div class="progress-text"><span><i class="fas fa-code mr-1"></i>RUBY ON RAILS</span><span>80%</span></div>
													</div>
													<div class="progress-text"><span></span></div>
												</div>
											</div>
										</div>

										<div class="col-12 col-lg-12 mt-4">
											<p class="">Databases & SQL</p>
											<div class="box box__second">

												<!-- Progress -->
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
														aria-valuemax="100">
														<div class="progress-text"><span><i class="fas fa-database mr-1"></i>SQLITE</span><span>90%</span></div>
													</div>
													<div class="progress-text"><span></span></div>
												</div>

												<!-- Progress -->
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
														aria-valuemax="100">
														<div class="progress-text"><span><i class="fas fa-database mr-1"></i>POSTGRESQL</span><span>75%</span></div>
													</div>
													<div class="progress-text"><span></span></div>
												</div>

												<!-- Progress -->
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
														aria-valuemax="100">
														<div class="progress-text"><span><i class="fas fa-database mr-1"></i>MYSQL</span><span>80%</span></div>
													</div>
													<div class="progress-text"><span></span></div>
												</div>
											</div>
										</div>


										<div class="col-12 col-lg-12 mt-4">
											<p class="">Dev & Design Tools</p>
											<div class="box box__second">

												<!-- Progress -->
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
														aria-valuemax="100">
														<div class="progress-text"><span><i class="fab fa-git-alt mr-1"></i> GIT</span><span>80%</span></div>
													</div>
													<div class="progress-text"><span></span></div>
												</div>

												<!-- Progress -->
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
														aria-valuemax="100">
														<div class="progress-text"><span><i class="fab fa-github mr-1"></i> GITHUB</span><span>85%</span></div>
													</div>
													<div class="progress-text"><span></span></div>
												</div>

												<!-- Progress -->
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
														aria-valuemax="100">
														<div class="progress-text"><span><i class="fab fa-bitbucket mr-1"></i> BITBUCKET</span><span>75%</span></div>
													</div>
													<div class="progress-text"><span></span></div>
												</div>

												<!-- Progress -->
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
														aria-valuemax="100">
														<div class="progress-text"><span><i class="fab fa-jira mr-1"></i> JIRA</span><span>50%</span></div>
													</div>
													<div class="progress-text"><span></span></div>
												</div>

												<!-- Progress -->
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
														aria-valuemax="100">
														<div class="progress-text"><span><i class="fab fa-confluence mr-1"></i> CONFLUENCE</span><span>65%</span></div>
													</div>
													<div class="progress-text"><span></span></div>
												</div>

												<!-- Progress -->
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
														aria-valuemax="100">
														<div class="progress-text"><span><i class="fa-solid fa-code mr-1"></i> API TESTING</span><span>75%</span></div>
													</div>
													<div class="progress-text"><span></span></div>
												</div>

												<!-- Progress -->
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
														aria-valuemax="100">
														<div class="progress-text"><span><i class="fa-brands fa-figma mr-1"></i></i> Figma</span><span>80%</span></div>
													</div>
													<div class="progress-text"><span></span></div>
												</div>

											</div>
										</div>

										<div class="col-12 col-lg-12 mt-4">
											<p class="">DevOps (On The Way)</p>
											<div class="box box__second">

												<!-- Progress -->
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
														aria-valuemax="100">
														<div class="progress-text"><span>Docker</span><span>50%</span></div>
													</div>
													<div class="progress-text"><span></span></div>
												</div>

												<!-- Progress -->
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0"
														aria-valuemax="100">
														<div class="progress-text"><span> Kubernetes</span><span>40%</span></div>
													</div>
													<div class="progress-text"><span></span></div>
												</div>
											</div>
										</div>

										<div class="col-12 col-lg-12 mt-4">
											<p class="">Operating Systems</p>
											<div class="box box__second">

												<!-- Progress -->
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
														aria-valuemax="100">
														<div class="progress-text"><span><i class="fab fa-windows mr-1"></i>MS WINDOWS</span><span>90%</span></div>
													</div>
													<div class="progress-text"><span></span></div>
												</div>

												<!-- Progress -->
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
														aria-valuemax="100">
														<div class="progress-text"><span><i class="fab fa-apple mr-1"></i> MACOS</span><span>75%</span></div>
													</div>
													<div class="progress-text"><span></span></div>
												</div>

												<!-- Progress -->
												<div class="progress">
													<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
														aria-valuemax="100">
														<div class="progress-text"><span><i class="fab fa-ubuntu mr-1"></i>LINUX (UBUNTU)</span><span>65%</span></div>
													</div>
													<div class="progress-text"><span></span></div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

							<!-- PORTFOLIO -->
							<div id="portfolio-tab" class="tabcontent">
								<div class="pb-2">
									<h1 class="title title--h1 first-title title__separate">Portfolio</h1>
								</div>

								<!-- Gallery -->
								<div class="pb-0">
									<!-- Filter -->
									<div class="select">
										<span class="placeholder">Select category</span>
										<ul class="filter">

										<!---------------
										Concept - Web App
										Design - UI Design
										Life - Desktop App
										---------------->
											<li class="filter__item">Category</li>
											<li class="filter__item active" data-filter="*"><a class="filter__link active"
													href="#filter">All</a></li>
											<li class="filter__item" data-filter=".category-concept"><a class="filter__link"
													href="#filter">Web App</a></li>
											<li class="filter__item" data-filter=".category-design"><a class="filter__link"
													href="#filter">UI/UX Design</a></li>
											<li class="filter__item" data-filter=".category-life"><a class="filter__link"
													href="#filter">Desktop Apps</a></li>
										</ul>
										<input type="hidden" name="changemetoo" />
									</div>

									<div class="gallery-grid js-masonry js-filter-container">
										<div class="gutter-sizer"></div>
										<!-- Project 1 -->
										<figure class="gallery-grid__item category-concept">
											<div class="gallery-grid__image-wrap">
												<img class="gallery-grid__image cover lazyload" src="https://i.imgur.com/7B302E2.png" data-zoom
													alt="" />
											</div>
											<figcaption class="gallery-grid__caption">
												<h4 class="title gallery-grid__title"><i class="fa-brands fa-github"></i> <a href="https://github.com/Shimol-Khan/Toluene" class="link" target="_blank">Toluene (Rails, PostgreSQL)</a></h4>
												<span class="gallery-grid__category">Web App</span>
											</figcaption>
										</figure>

										<!-- Project 2 -->
										<figure class="gallery-grid__item category-design">
											<div class="gallery-grid__image-wrap">
												<img class="gallery-grid__image cover lazyload" src="https://i.imgur.com/Bk5iDnC.jpg" data-zoom
													alt="" />
											</div>
											<figcaption class="gallery-grid__caption">
												<h4 class="title gallery-grid__title">GlassMorphism</h4>
												<span class="gallery-grid__category">UI/UX Design</span>
											</figcaption>
										</figure>

										<!-- Project 3 -->
										<figure class="gallery-grid__item category-life">
											<div class="gallery-grid__image-wrap">
												<img class="gallery-grid__image cover lazyload" src="https://i.imgur.com/BTImH8q.jpg" data-zoom
													alt="" />
											</div>
											<figcaption class="gallery-grid__caption">
												<h4 class="title gallery-grid__title"><i class="fa-brands fa-github"></i> <a href="https://github.com/kiiilllerbot/mContact" class="link" target="_blank">mContact (C, File I/O)</a></h4>
												<span class="gallery-grid__category">Desktop App</span>
											</figcaption>
										</figure>

										<!-- Project 4 -->
										<figure class="gallery-grid__item category-life">
											<div class="gallery-grid__image-wrap">
												<img class="gallery-grid__image cover lazyload" src="https://i.imgur.com/xNoUxD5.jpg" data-zoom
													alt="" />
											</div>
											<figcaption class="gallery-grid__caption">
												<h4 class="title gallery-grid__title"><i class="fa-brands fa-github"></i> <a href="https://github.com/kiiilllerbot/RWS-CLI" class="link" target="_blank">RWS CLI (Ruby, Web Scrapping)</a></h4>
												<span class="gallery-grid__category">Desktop App</span>
											</figcaption>
										</figure>

										<!-- Project 5 -->
										<figure class="gallery-grid__item category-concept">
											<div class="gallery-grid__image-wrap">
												<img class="gallery-grid__image cover lazyload" src="https://i.imgur.com/hJkKjkA.jpg" data-zoom
													alt="" />
											</div>
											<figcaption class="gallery-grid__caption">
												<h4 class="title gallery-grid__title"><i class="fa-brands fa-github"></i> <a href="https://github.com/kiiilllerbot/Flask-Blog" target="_blank" class="link">Flask-Blog (Python, Flask, SQLite)</a></h4>
												<span class="gallery-grid__category">Web App</span>
											</figcaption>
										</figure>

										<!-- Project 6 -->
										<figure class="gallery-grid__item category-life">
											<div class="gallery-grid__image-wrap">
												<img class="gallery-grid__image cover lazyload" src="https://i.imgur.com/OQYMlMU.jpg" data-zoom
													alt="" />
											</div>
											<figcaption class="gallery-grid__caption">
												<h4 class="title gallery-grid__title"><i class="fa-brands fa-github"></i> <a href="https://github.com/kiiilllerbot/HostelBookingSystem" class="link" target="_blank">Hostel Booking CLI (C++, File I/O)</a></h4>
												<span class="gallery-grid__category">Desktop App</span>
											</figcaption>
										</figure>

										<!-- Project 7 -->
										<figure class="gallery-grid__item category-life">
											<div class="gallery-grid__image-wrap">
												<img class="gallery-grid__image cover lazyload" src="https://i.imgur.com/zwZHgAm.jpg" data-zoom
													alt="" />
											</div>
											<figcaption class="gallery-grid__caption">
												<h4 class="title gallery-grid__title"><i class="fa-brands fa-github"></i> <a href="https://github.com/kiiilllerbot/JavaCurrencyConverter" class="link" target="_blank">Java CurrencyCalc (Java, AWT)</a></h4>
												<span class="gallery-grid__category">Desktop App</span>
											</figcaption>
										</figure>

										<!-- Project 8 -->
										<figure class="gallery-grid__item category-concept">
											<div class="gallery-grid__image-wrap">
												<img class="gallery-grid__image cover lazyload" src="https://i.imgur.com/v5PslnK.jpg" data-zoom
													alt="" />
											</div>
											<figcaption class="gallery-grid__caption">
												<h4 class="title gallery-grid__title"><i class="fa-brands fa-github"></i> <a href="https://github.com/kiiilllerbot/php-restapi" class="link" target="_blank">phpREST API (PHP, MySQL)</a></h4>
												<span class="gallery-grid__category">Web App</span>
											</figcaption>
										</figure>
									</div>
								</div>
							</div>

            <!------------------------ Articles -------------------->
            <div id="blog-tab" class="tabcontent">
              <div class="pb-2">
                <h1 class="title title--h1 first-title title__separate">Articles</h1>
              </div>

              <% if user_signed_in? %>
                <div class="pb-2">
                  <%= link_to "Write Article", new_article_path, :class=>"btn" %>
                </div>
              <% end %>

              <div class="news-grid pb-0">
								<!------------- Article ------------------>
									<% @articles.each do |article| %>
										<article class="news-item box">
											<div class="news-item__image-wrap overlay overlay--45">
												<div class="news-item__date"><%= article.created_at.strftime("%B, %d, %Y")%></div>
												<%= image_tag(article.image_link, :class=>"card-img-top") %>
											</div>
											<div class="news-item__caption">
												<h2 class="title title--h4"><%= link_to article.title, article, :class=>"link" %></h2>
												<div class="d-flex justify-content-between">
													<div>
														<small class="text-muted text-sm">By Shimol Khan</small>
													</div>
													<div>
														<span class="cool-bg ml-auto"><i class="fas fa-heart mr-1"></i> <%= article.get_upvotes.size %></span>
													</div>
												</div>
											</div>
										</article>
									<% end %>
								<!------------- Article ------------------>
              </div>
            </div>
            <!------------------------/ Articles -------------------->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>