<div class="container h-100">
	<div class="row h-100 justify-content-center align-items-center">
		<div class="col-lg-6">
			<div class="box shadow pb-0 p-5">
				<div class="content">
					<h2 class="title title--h3">
						<%= link_to root_path, :method => :get do %>
							<i class="fas fa-angle-left link pr-1"></i>
						<% end %>
					Login
					</h2>
					<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<form id="contact-form" class="contact-form" data-toggle="validator" novalidate="true">
						<div class="form-group">
							<%= f.input :email,
                          placeholder: 'Email',
                          label: false,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email", class: "input input__icon form-control" } %>
						</div>
						<div class="form-group">
							<%= f.input :password,
                          placeholder: 'Password',
                          label: false,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "current-password", class: "input input__icon form-control" } %>
						</div>
						<div class="form-group pt-2">
							<%= f.button :submit, "Login", :class=>"btn" %>
						</div>
				</div>
			</div>
			</form>
			<% end %>
		</div>
	</div>
</div>